body {
  background-color: #282c34;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h3 {
  color: white;
  text-align: center;
}
p {
  color: #61dafb;
  font-size: 18px;
  margin: 20px;
}
